<div *ngIf="!isLoading">
    <mat-card>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Presentation</mat-card-title>
                <button mat-raised-button (click)="downloadCSV()" data-cy="DownloadCsvBtn">
                    <mat-icon>download</mat-icon>
                    Download CSV
                </button>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content *ngIf="!isLoading">
            <p>Created: {{presentation.created | date:'medium'}}</p>
            <p>Completed: {{presentation.finished | date:'medium'}}</p>
            <h3>Wellbeing</h3>
            <canvas baseChart class="chart" [data]="wellbeingChartData" [type]="pieChartType"></canvas>
            <h3>Controllable risk factors:</h3>
        </mat-card-content>
    </mat-card>
    <div class="canvas-container">
        <mat-card class="canvas-card">
            <mat-card-content>
                <p>1. {{presentation.question1}}</p>
                <canvas baseChart class="chart" [data]="q1ChartData" [type]="pieChartType"></canvas>
            </mat-card-content>
        </mat-card>
        <mat-card class="canvas-card">
            <mat-card-content>
                <p>2. {{presentation.question2}}</p>
                <canvas baseChart class="chart" [data]="q2ChartData" [type]="pieChartType"></canvas>
            </mat-card-content>
        </mat-card>
        <mat-card class="canvas-card">
            <mat-card-content>
                <p>3. {{presentation.question3}}</p>
                <canvas baseChart class="chart" [data]="q3ChartData" [type]="pieChartType"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
</div>